<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="..//css/admin/sideBar.css">
</head>

<body>
    <aside class="side-bar">
        <ul>
            <div class="side-bar-first">menu</div>
            <li class="side-list">
                <a href="../main/adminMain.html" class="side-option">메인페이지</a>
            </li>
            <li class="side-list">
                <a href="../member/memberList.html" class="side-option">회원관리</a>
            </li>
            <li class="side-list">
                <a href="../notice/noticeList.html" class="side-option">공지사항</a>
            </li>
            <li class="side-list">
                <a href="../qna/qnaList.html" class="side-option">qna</a>
            </li>
            <li class="side-list">
                <a href="../bord/boardList.html" class="side-option">공고게시판</a>
            </li>
        </ul>
    </aside>
</body>

</html>