@charset "UTF-8";


.container {
    margin-left: 250px;
    margin-top: 55px;
}


.container-margin {
    margin: 40px 100px 0px;
}

.info-flex {
    width: 60%;
    margin: auto;
}


.board-info-box {
    width: 100%;
    border: 0.0625rem solid #f2f2f2;
    box-shadow: 11px 13px 11px -14px grey;
    background: #fff;
}

.info-table {
    margin: 0 auto;
    padding: 20px;
}

.modify-button{
    font-family: 'GmarketSansMedium';
    width: 100px;
    height: 30px;
    background-color: #4F6DF5;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev-button-layout {
	position: relative;
}

.prev-icon {
	position: absolute;
	width: 20px;	
    top: 3px;	
}

.prev-title {
	font-weight: 700;
	padding-left: 28px;	
}

hr {
	height: 1px;
	background: #f2f1f1;
	border: 0;
  margin: 10px auto;
}

.hr-bar {
    opacity: 0.5;
    background-color: gray;
}






.prev-button-layout {
	position: relative;
}

.prev-icon {
	position: absolute;
	width: 20px;	
    top: 3px;	
}

.prev-title {
	font-weight: 700;
	padding-left: 28px;	
}


.board-info-title-box {
    padding: 20px 27px 0;
}

.board-info-title-box {
    font-size: 15px;
    font-weight: bold;
}



.header-name{
    padding-top: 18px;
    position: relative;
    width: 60%;
    text-align: center;
    font-weight: 600;
}




.info-title-box-flex {
    display: flex;
    position: fixed;
    justify-content: flex-start;
}

.info-title-box {
    width: 100%;
    height: 55px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 11px 13px 11px -14px grey;
}

.info-content {
    min-height: 500px;
    margin: 0 auto;
    padding: 20px;
}



.board-info-title-box {
    padding: 20px 27px 0;
}

.board-info-title-box {
    font-size: 15px;
    font-weight: bold;
}

.header-name{
    padding-top: 18px;
    position: relative;
    width: 60%;
    text-align: center;
    font-weight: 600;
}

.button-container {
    text-align: right;
}

.button-box {
    border: none;
    height: 50px;
    background-color: #fff;
    font-weight: bold;
}

input[type=text] {
    outline: none;
    border: none;
    width: 100%;
    font-size: 16px;
    font-family: 'GmarketSansMedium';
}

textarea {
    font-family: 'GmarketSansMedium';
    overflow: hidden;
    width: 100%;
    border: none;
    outline: none;
    height: 200px;
    font-size: 16px;
    resize: none;
}

.submit-button{
    margin-left: 20px;

}