<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA</title>
    <link rel="stylesheet" href="../../../static/css/admin/sideBar.css">
    <link rel="stylesheet" href="../../../static/css/admin/qna/qnaList.css">
</head>

<body>
    <div>
        <div class="info-title-box flex">
            <div class="header-name">
                <span class="title-name">QnA 관리</span>
            </div>
        </div>
    </div>
    <div class="wrap">

        <!-- 사이드 바 -->
        <aside class="side-bar">
            <ul>
                <div class="side-bar-first">menu</div>
                <li class="side-list">
                    <a href="" class="side-option">메인페이지</a>
                </li>
                <li class="side-list">
                    <a href="../member/memberList.html" class="side-option">회원관리</a>
                </li>
                <li class="side-list">
                    <a href="../notice/noticeList.html" class="side-option">공지사항</a>
                </li>
                <li class="side-list">
                    <a href="../qna/qnaList.html" class="side-option">qna</a>
                </li>
                <li class="side-list">
                    <a href="../bord/boardList.html" class="side-option">공고게시판</a>
                </li>
            </ul>
        </aside>

        <div class="container">
            <div class="container-margin">
                <!-- 헤더 -->
                <div class="">
                    <div class="button-container">
                        <button class="button-box">선택 게시물 삭제</button>
                    </div>
                </div>

                <!-- 내용 섹션 -->
                <section class="board-info-box-layout">

                    <div class="board-info-box">
                        <div class="board-info-title-box">
                            <span>자주 물어보는 질문 목록</span>
                        </div>

                        <div class="info-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="checkbox-line">
                                            <input type="checkbox">
                                        </th>
                                        <th>No</th>
                                        <th>문의 카테고리</th>
                                        <th>글제목</th>
                                        <th>작성 날짜</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tr>
                                    <th class="checkbox-line">
                                        <input type="checkbox">
                                    </th>
                                    <td>1</td>
                                    <hr>
                                    <td>기업관련</td>
                                    <td>기업 위치를 못찾겠어요</td>
                                    <td>2012-12-12</td>
                                    <td>
                                        <button class="small-button-box"
                                            onclick="location.href='qnaDetail.html'">자세히</button>
                                        <button class="small-button-box">삭제</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>

                <!-- 페이지 버튼 -->
                <div class="page-button-box-layout">
                    <div class="page-button-box">
                        <div class="">
                            <div class="page-button-margin">
                                <div>
                                    <img src="../../../static/image/left_icon.png" class="left-button">
                                </div>
                            </div>
                        </div>
                        <!-- 현재 페이지 -->
                        <div>1</div>
                        <div class="">
                            <div class="page-button-margin">
                                <div>
                                    <img src="../../../static/image/right_icon.png" class="right-button ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>


</html>