.css-mw5pt9 {
    width: 100%;
    height: 100%;
}
.css-7smspc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.css-1xquaou {
    display: flex;
    height: 100vh;
    width: 100vw;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.css-wt5zew {
    display: none;
    height: 100%;
    width: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px) {
    .css-wt5zew {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .css-wt5zew {
        display: flex;
    }
}

.css-efzjop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.css-1u3hmek {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.css-efzjop::after {
    content: '';
}
.css-6h2e1z {
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    position: absolute;
}
.css-bhgab3 {
    display: block;
    width: 100%;
    max-width: 1232px;
    margin: 0px auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.css-vwco3d {
    display: flex;
    place-content: stretch flex-start;
    flex-shrink: 1;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.css-1fo6jlw {
    display: flex;
    align-content: stretch;
    flex-shrink: 1;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    height: 52px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 1024px) {
    .css-1fo6jlw {
        height: 64px;
    }
}
.css-14bj9bf {
    display: flex;
    place-content: stretch space-between;
    flex-shrink: 1;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 202;
    max-width: 100%;
    align-self: center;
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
}
@media screen and (min-width: 1024px) {
    .css-14bj9bf {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 1312px;
    }
}
.css-1hj69o9 {
    display: flex;
    place-content: stretch flex-start;
    flex-shrink: 0;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    align-items: center;
}
.css-1abld0t {
    display: flex;
    align-content: stretch;
    flex-shrink: 1;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
}
@media screen and (min-width: 1024px) {
    .css-1abld0t {
        margin-right: 48px;
    }
}
.css-1hu4u6u {
    display: block;
    width: auto;
    height: 22px;
}
.css-hnwxmn {
    display: block;
    width: auto;
    height: 100%;
    fill: #f3f3f3;
}

.css-12fz3yr {
    display: flex;
    place-content: stretch flex-start;
    flex-shrink: 1;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    -webkit-box-pack: start;
    -webkit-box-align: center;
    align-items: center;
}
.css-l0c4py {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px) {
    .css-l0c4py {
        -webkit-box-pack: unset;
        justify-content: unset;
    }
}
@media screen and (min-width: 1024px) {
    .css-l0c4py {
        -webkit-box-pack: center;
        justify-content: center;
    }
}
@media screen and (min-width: 1312px) {
    .css-l0c4py {
        -webkit-box-pack: center;
        justify-content: center;
    }
}
.css-5e98i0 {
    display: flex;
    width: 100%;
    margin-top: unset;
    margin-bottom: unset;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px) {
    .css-5e98i0 {
        margin-top: unset;
        margin-bottom: unset;
        -webkit-box-align: stretch;
        align-items: stretch;
    }
}
@media screen and (min-width: 1024px) {
    .css-5e98i0 {
        margin-top: unset;
        margin-bottom: unset;
        -webkit-box-align: center;
        align-items: center;
    }
}
.css-1vpjrss {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 12, 12);
    border-color: rgb(25, 25, 25);
}
@media screen and (min-width: 640px) {
    .css-1vpjrss {
        margin-top: 50px;
        max-width: 400px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
    }
}
@media screen and (min-width: 1024px) {
    .css-1vpjrss {
        margin-top: 50px;
        max-width: 420px;
        padding-left: 32px;
        padding-right: 32px;
        border-radius: 20px;
        overflow: hidden;
        z-index: 0;
    }
}
.css-qe6ssj {
    display: flex;
    min-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px) {
    .css-qe6ssj {
        min-height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
@media screen and (min-width: 1024px) {
    .css-qe6ssj {
        min-height: 392px;
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

.css-1ftdmhu {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px) {
    .css-1ftdmhu {
        padding-top: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .css-1ftdmhu {
        padding-top: 0px;
    }
}
.css-1gpclxn {
    border-width: 0px;
    color: rgb(243, 243, 243);
    margin: 0px;
    padding: 0px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.css-6mf4i3 {
    display: flex;
    margin-bottom: 8px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.css-15zhte1 {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    padding-right: 3%;
}
.css-1rejurp {
    border-width: 0px;
    color: rgb(187, 187, 187);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.css-1k5xfry {
    width: 0px;
    height: 10px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.css-1av4098 {
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    outline-style: none;
    color: #f3f3f3;
    width: 100%;
    height: 100%;
    padding: 13px 0px;
    padding-left: 5%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.15);
}
.css-1av4098:focus {
    border-color: rgb(243, 243, 243);
}

.css-1u2hgfc {
    width: 0px;
    height: 12px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.css-1uv2rgv {
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    outline-style: none;
    color: #f3f3f3;
    width: 100%;
    height: 100%;
    padding: 13px 0px;
    padding-left: 5%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.15);
}
.css-1uv2rgv:focus {
    border-color: rgb(243, 243, 243);
}
.css-y5vybp {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    right: 0px;
    /* padding-right: 16px; */
    z-index: 1;
    position: absolute;
}
.css-1lncszd {
    display: block;
    width: 18px;
    height: 18px;
}

.css-dsysgn {
    display: block;
    width: 100%;
    height: 100%;
    fill: rgb(76, 76, 76);
}
.css-1r3k394 {
    fill: rgb(76, 76, 76);
}
.css-ot2zoy {
    display: flex;
    margin-bottom: 12px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row-reverse;
}
.css-1df5ono {
    border-width: 0px;
    color: rgb(116, 116, 116);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
}
.css-1eiz2nb {
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(255, 93, 0);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    display: inline-flex;
    padding: 15px 0px;
    position: relative;
}
@media screen and (min-width: 1312px) {
    .css-1eiz2nb {
        padding-top: 15px;
        padding-bottom: 15px;
        /* padding-left: 14px; */
        width: 100%;
        /* padding-right: 14px; */
    }
}

@media screen and (min-width: 1024px) {
    .css-1eiz2nb {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        /* padding-left: 14px; */
        /* padding-right: 14px; */
    }
}

@media screen and (min-width: 640px) {
    .css-1eiz2nb {
        padding-top: 15px;
        padding-bottom: 15px;
        /* padding-left: 14px; */
        width: 100%;
        /* padding-right: 14px; */
    }
}

.css-3kqv01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: inherit;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.css-1bep15o {
    width: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.css-1f75ggl {
    border-width: 0;
    color: #f3f3f3;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
@media screen and (min-width: 640px) {
    .css-1f75ggl {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}
@media screen and (min-width: 1024px) {
    .css-1f75ggl {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

@media screen and (min-width: 1312px) {
    .css-1f75ggl {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.css-17lkchd {
    flex: 0 0 auto;
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.css-1v9iahg {
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    display: inline-flex;
    padding: 15px 0px;
    position: relative;
}
@media screen and (min-width: 640px) {
    .css-1v9iahg {
        padding-top: 15px;
        padding-bottom: 15px;
        /* padding-left: 14px; */
        width: 100%;
        padding-right: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .css-1v9iahg {
        padding-top: 15px;
        padding-bottom: 15px;
        /* padding-left: 14px; */
        width: 100%;
        padding-right: 14px;
    }
}
@media screen and (min-width: 1312px) {
    .css-1v9iahg {
        padding-top: 15px;
        padding-bottom: 15px;
        /* padding-left: 14px; */
        width: 100%;
        padding-right: 14px;
    }
}

.css-19rwgym {
    width: 2px;
    display: flex;
}

.css-1bc1yxd {
    display: block;
    width: 20px;
    height: 20px;
}
@media screen and (min-width: 640px) {
    .css-1bc1yxd {
        width: 20px;
        height: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .css-1bc1yxd {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1312px) {
    .css-1bc1yxd {
        width: 20px;
        height: 20px;
    }
}

.css-1oe6l0y {
    display: block;
    width: 100%;
    height: 100%;
    fill: #f3f3f3;
}
.css-1fwqr1t {
    fill: rgb(254, 229, 0);
}
.css-oofvv2 {
    width: 2px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
@media screen and (min-width: 640px) {
    .css-oofvv2 {
        width: 2px;
        height: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .css-oofvv2 {
        width: 2px;
        height: 0px;
    }
}
@media screen and (min-width: 1312px) {
    .css-oofvv2 {
        width: 2px;
        height: 0px;
    }
}

.css-1a5v7bb {
    text-align: left;
    color: rgb(243, 243, 243);
    -webkit-text-fill-color: rgb(243, 243, 243);
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
}

.css-1u2hgfc {
    width: 0px;
    height: 12px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.css-1y1d2ox {
    fill: rgb(0, 199, 60);
}
.css-t8bi9q {
    fill: rgb(6, 106, 239);
}

.css-17ywu46 {
    fill: rgb(66, 128, 239);
}
.css-158p2pw {
    fill: rgb(52, 163, 83);
}
.css-sgwfkp {
    fill: rgb(246, 183, 4);
}
.css-yxtagp {
    fill: rgb(229, 67, 53);
}
.css-hyge20 {
    fill: rgb(163, 170, 174);
}

.css-12pdxu3 {
    flex: 0 0 auto;
    display: flex;
}
@media screen and (min-width: 640px) {
    .css-12pdxu3 {
        flex: 1 1 auto;
    }
}
@media screen and (min-width: 1024px) {
    .css-12pdxu3 {
        flex: 0 0 20px;
    }
}

.css-127tnbc {
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
@media screen and (min-width: 640px) {
    .css-127tnbc {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .css-127tnbc {
        display: flex;
    }
}

.css-2n6tbj {
    display: none;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
@media screen and (min-width: 1024px) {
    .css-2n6tbj {
        display: flex;
    }
}
@media screen and (min-width: 640px) {
    .css-2n6tbj {
        display: none;
    }
}

.css-lw43zm {
    border-width: 0px;
    color: rgb(116, 116, 116);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.css-iiuncx {
    width: 8px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.css-9ce8tn {
    border-width: 0px;
    color: rgb(243, 243, 243);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.css-1nh92gc {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
@media screen and (min-width: 1024px) {
    .css-1nh92gc {
        display: none;
    }
}
@media screen and (min-width: 640px) {
    .css-1nh92gc {
        display: flex;
    }
}
.css-1wgpa9i {
    border-width: 0px;
    color: rgb(116, 116, 116);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.css-iiuncx {
    width: 8px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.css-1cse90k {
    border-width: 0px;
    color: rgb(243, 243, 243);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.css-1f4co1b {
    display: block;
    margin-top: 32px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

@media screen and (min-width: 640px) {
    .css-1f4co1b {
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    .css-1f4co1b {
        display: none;
    }
}
.css-1xifn78 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .css-1xifn78 {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .css-1xifn78 {
        display: none;
    }
}

.css-d6xk8g {
    display: none;
    margin-top: 76px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px) {
    .css-d6xk8g {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .css-d6xk8g {
        display: flex;
    }
}
