<html lang="en" xmlns:th="http://www.thymeleag.org">
<head translate="no">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <title>카테고리</title>
    <link rel="stylesheet" href="/css/category.css">
</head>
<body style="">
<div id="__next">
    <main>

            <div class="hide-wrap">
                <div class="hide1-wrap"></div>
            </div>
            <div class="hide2-wrap"></div>
            <div class="hide3-wrap"></div>
            <div class="hide4-wrap"></div>
            <div class="hide5-wrap"></div>
            <div class="div-wrap">
                <!--                상단 네비게이션 부분 -->
                <div class="css-1hx3xz3" style="position: fixed">
                    <div class="css-1ejl8vx">
                        <div class="css-14bj9bf">
                            <div class="css-1hj69o9">
                                <img src="/images/logo_garo.png" style="height: 50px;">
                                <div class="css-h8nxjb">
                                    <button type="button" class="css-1hvtp3b" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                        <svg viewBox="0 0 24 24" data-testid="menu-regular" class="css-ymr6q4">
                                            <path d="M2.25 13.25h19.5c.15 0 .25-.1.25-.25v-2c0-.15-.1-.25-.25-.25H2.25c-.15 0-.25.1-.25.25v2c0 .15.1.25.25.25Zm0-7.25h19.5c.15 0 .25-.1.25-.25v-2c0-.15-.1-.25-.25-.25H2.25c-.15 0-.25.1-.25.25v2c0 .15.1.25.25.25Zm0 14.5h19.5c.15 0 .25-.1.25-.25v-2c0-.15-.1-.25-.25-.25H2.25c-.15 0-.25.1-.25.25v2c0 .15.1.25.25.25Z"
                                                  class="css-17f4zqp">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <a href="/ko/browse?noRedirect=true">
                                    <div class="css-1abld0t">
                                        <span class="css-1hu4u6u">
                                        </span>
                                    </div>
                                </a>
                                <div class="css-12fz3yr">
                                    <div class="css-21wtj9">
                                        <button type="button" data-testid="pressable" class="css-1hvtp3b categoryButton" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                            <div class="css-jci0dj">
                                                <h3 data-testid="title" class="css-5divv0">카테고리</h3>
                                                <span class="css-361q50"></span>
                                                <svg viewBox="0 0 24 24" data-testid="chevrondown-regular" class="css-sybpvl">
                                                    <path d="M2.55 8.4 4 7c.1-.1.25-.1.35 0L12 14.65 19.65 7c.1-.1.25-.1.35 0l1.4 1.4c.1.1.1.25 0 .35L12.15 18c-.1.1-.25.1-.35 0L2.55 8.75a.427.427 0 0 1 0-.35Z"
                                                          class="css-17f4zqp">
                                                    </path>
                                                </svg>
                                            </div>
                                        </button>
                                    </div>
                                    <span class="css-1bsx5uz"></span>
                                    <div class="css-21wtj9">
                                        <a href="/ko/upcoming">
                                            <h3 data-testid="title" class="css-6g5r4z">빈자리 공개 예정</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="css-1hj69o9">
                                <div class="css-21wtj9">
                                    <button type="button" data-testid="pressable" class="css-1hvtp3b" id="searchButton" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                        <svg viewBox="0 0 24 24" data-testid="search-regular" class="css-ymr6q4">
                                            <path d="m22.45 20.7-5.15-5.15A8.41 8.41 0 0 0 19 10.5C19 5.8 15.2 2 10.5 2S2 5.8 2 10.5 5.8 19 10.5 19c1.9 0 3.65-.65 5.05-1.7l5.15 5.15c.1.1.25.1.35 0l1.4-1.4c.1-.1.1-.25 0-.35ZM4.5 10.5c0-3.3 2.7-6 6-6s6 2.7 6 6-2.7 6-6 6-6-2.7-6-6Z"
                                                  class="css-17f4zqp">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <span class="css-1bsx5uz"></span>
                                <div class="css-12fz3yr">
                                    <div class="css-esw18d">
                                        <a href="/ko/login?redirect=%2Fko%2Fbrowse%3FnoRedirect%3Dtrue&amp;onboardingAfterSignUp=true">
                                            <p class="css-1b055sq">로그인</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div tabindex="0" id="categoryBackground" class="css-cb3w06" style="opacity: 1;"></div>
                    <!--                검색 팝업 부분 -->
                    <div class="css-iu7izx" id="searchPopUp">
                        <div class="css-ggltqk">
                            <div class="css-1s9yjfq" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);"></div>
                        </div>
                        <div class="css-30zh0b">
                            <div class="css-5d6zqx">
                                <div class="css-a0nn8i">
                                    <div class="css-19d216y">
                                        <div class="css-12j5knc">
                                            <input type="text" inputmode="text" autocomplete="off" placeholder="관심 주제, 클래스, 크리에이터 찾기" class="css-fkkc8t" value="">
                                            <span class="css-8m4vrq">
                                                    <svg viewBox="0 0 24 24" class="css-kgbhgr">
                                                        <path d="m22.45 21.2-5.35-5.35c1.2-1.45 1.9-3.3 1.9-5.35C19 5.8 15.2 2 10.5 2S2 5.8 2 10.5 5.8 19 10.5 19c2.05 0 3.9-.7 5.35-1.9l5.35 5.35c.1.1.25.1.35 0l.9-.9c.1-.1.1-.25 0-.35ZM3.75 10.5c0-3.7 3.05-6.75 6.75-6.75s6.75 3.05 6.75 6.75-3.05 6.75-6.75 6.75-6.75-3.05-6.75-6.75Z" class="css-17f4zqp"></path>
                                                    </svg>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="css-12z1g49">
                                        <div class="css-1h2nts4">
                                            <div class="css-c1hse5">
                                                <div class="css-3h1h96">
                                                    <div class="css-175jfes">
                                                        <div class="css-12fz3yr">
                                                            <h3 class="css-kmla08">지금 인기있는</h3>
                                                            <span class="css-la5ys6"></span>
                                                            <span class="css-a36j2r">최근 30분</span>
                                                        </div>
                                                    </div>
                                                    <ul class="css-1g6jm3w">
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">1</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span class="css-vj9owe">프로크리에이트</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">2</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">아이패드</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">3</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">블로그</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">4</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">인스타</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29"><span data-testid="body" class="css-gh0k4l">5</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">포토샵</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">6</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);"
                                                            ><span data-testid="body" class="css-vj9owe">일러스트</span></li>
                                                        </div>
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">7</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">영어</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">8</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">유튜브</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29">
                                                            <span data-testid="body" class="css-gh0k4l">9</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">블렌더</span>
                                                            </li>
                                                        </div>
                                                        <div class="css-1gpbe29"><span data-testid="body" class="css-gh0k4l">10</span>
                                                            <span class="css-147sg2d"></span>
                                                            <li tabindex="0" data-testid="pressable" class="css-13knazy" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                                <span data-testid="body" class="css-vj9owe">글쓰기</span>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="categoryPopUp" class="css-rirn54" style="transform: translateY(64px);">
                        <div class="css-19zdhbd">
                            <div class="css-5dkw6v">
                                <div class="css-1nn6t1v">
                                    <div class="css-14q7sgs">
                                        <div class="css-zlo6qq">
                                            <div class="css-14fzkbc">
                                                <a class="css-346lod" href="#" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                    <h3  class="css-13vbe2p"> 전체
                                                    </h3>
                                                </a>
                                                <span class="css-gefh0b"></span>
                                                <th:block th:each="num : ${#numbers.sequence(0,2)}">
                                                    <a class="css-346lod" href="#" onclick="categorySelected(this);" th:attr="data-categoryid=${categories[numStat.current].id}" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                        <h3  class="css-13vbe2p"th:text="${categories[numStat.current].bigCategoryName}">
                                                        </h3>
                                                    </a>
                                                    <span class="css-gefh0b"></span>
                                                </th:block>
                                            </div>
                                            <div class="css-iis9oy"></div>
                                            <div class="css-14fzkbc">
                                                <th:block th:each="num : ${#numbers.sequence(3,6)}">
                                                    <a class="css-346lod" href="#" onclick="categorySelected(this);" th:attr="data-categoryid=${categories[numStat.current].id}" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                        <h3  class="css-13vbe2p"th:text="${categories[numStat.current].bigCategoryName}">
                                                        </h3>
                                                    </a>
                                                    <span class="css-gefh0b"></span>
                                                </th:block>
                                            </div>
                                            <div class="css-iis9oy"></div>
                                            <div class="css-14fzkbc">
                                                <th:block th:each="num : ${#numbers.sequence(7,10)}">
                                                    <a class="css-346lod" href="#" onclick="categorySelected(this);" th:attr="data-categoryid=${categories[numStat.current].id}" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                        <h3  class="css-13vbe2p"th:text="${categories[numStat.current].bigCategoryName}">
                                                        </h3>
                                                    </a>
                                                    <span class="css-gefh0b"></span>
                                                </th:block>
                                            </div>
                                            <div class="css-iis9oy"></div>
                                            <div class="css-14fzkbc">
                                                <th:block th:each="num : ${#numbers.sequence(11,14)}">
                                                    <a class="css-346lod" href="#" onclick="categorySelected(this);" th:attr="data-categoryid=${categories[numStat.current].id}" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                        <h3  class="css-13vbe2p"th:text="${categories[numStat.current].bigCategoryName}">
                                                        </h3>
                                                    </a>
                                                    <span class="css-gefh0b"></span>
                                                </th:block>
                                            </div>
                                            <div class="css-iis9oy"></div>
                                            <div class="css-14fzkbc">
                                                <th:block th:each="num : ${#numbers.sequence(15,18)}">
                                                    <a class="css-346lod" href="#" onclick="categorySelected(this);" th:attr="data-categoryid=${categories[numStat.current].id}" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                        <h3  class="css-13vbe2p"th:text="${categories[numStat.current].bigCategoryName}">
                                                        </h3>
                                                    </a>
                                                    <span class="css-gefh0b"></span>
                                                </th:block>
                                            </div>

                                        </div>
                                        <span class="css-yzqw5"></span>
                                        <button type="button" data-testid="ghost-button" class="css-10vbztj" id="popUpCloseButton" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                            <svg viewBox="0 0 24 24" data-testid="close-regular" class="css-sybpvl">
                                                <path d="m13.75 12 6.35-6.35c.1-.1.1-.25 0-.35l-1.4-1.4c-.1-.1-.25-.1-.35 0L12 10.25l-6.35-6.4c-.1-.1-.25-.1-.35 0l-1.4 1.4c-.1.1-.1.25 0 .35l6.35 6.4-6.4 6.35c-.1.1-.1.25 0 .35l1.4 1.4c.1.1.25.1.35 0l6.4-6.35 6.35 6.35c.1.1.25.1.35 0l1.4-1.4c.1-.1.1-.25 0-.35L13.75 12Z"
                                                      class="css-17f4zqp"></path>
                                            </svg>
                                            <span class="css-1qxfavt">닫기</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--                main 부분 -->
                <div class="css-1t0urrj">
                    <div class="css-vwco3d" style="padding-top: 30px;">
                        <div class="css-1b89rzx">
                            <div class="css-jw0xw2"><h1 data-testid="title" class="css-1i5bsm" th:text="${bigCategory.bigCategoryName}"></h1><span
                                    class="css-1110jh0"></span>
                                <div class="css-1hzwvc0">
                                    <a href="#" class ="category-option">
                                       <div class="css-jpc6au">
                                           <span data-testid="body" class="css-19vi3od css-14bzam7">전체</span>
                                       </div>
                                    </a>
                                    <th:block th:each = "midCategory : ${midCategoryList}">
                                        <div class="css-1d944kd" >
                                            <a href="#" class ="category-option"th:attr="data-midcategory=${midCategory.id}">
                                                <div class="css-qlly12">
                                                    <span data-testid="body" class="css-19vi3od" th:text="${midCategory.midCategoryName}"></span>
                                                </div>
                                            </a>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="css-1d944kd">
                            <div class="css-zk53ni">
                                <div class="css-1gz0uo4"></div>
                                <div class="css-iiuncx"></div>
                                <button class="css-o5crzx"
                                        style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;"><span
                                        class="css-11rc5ya"></span><span class="css-1a4a92y">전체</span><span
                                        class="css-1gqu4n6"></span><span class="css-ujih8e"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-1oe6l0y"><path
                                        d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                        class="css-0"></path></svg></span></button>
                                <div class="css-iiuncx"></div>
                                <div class="css-17f4zqp">
                                    <div class="css-1upuyz0">
                                        <button class="css-o5crzx"
                                                style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;"><span
                                                class="css-11rc5ya"></span><span class="css-1a4a92y">영상 언어</span><span
                                                class="css-1gqu4n6"></span><span class="css-ujih8e"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                class="css-1oe6l0y"><path
                                                d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                class="css-0"></path></svg></span></button>
                                    </div>
                                    <div class="css-1meit79">
                                        <button class="css-ynj3fh">
                                            <div class="css-1p1m4ay"><span class="css-16acpt">영상 언어</span><span
                                                    class="css-1bep15o"></span><span class="css-1ujtdkg"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    class="css-1oe6l0y"><path
                                                    d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                    class="css-0"></path></svg></span></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="css-iiuncx"></div>
                                <div class="css-17f4zqp">
                                    <div class="css-1meit79">
                                        <button class="css-ynj3fh">
                                            <div class="css-1p1m4ay"><span class="css-16acpt">인기순</span><span
                                                    class="css-1bep15o"></span><span class="css-1ujtdkg"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    class="css-1oe6l0y"><path
                                                    d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                    class="css-0"></path></svg></span></div>
                                        </button>
                                    </div>
                                    <div class="css-1upuyz0">
                                        <button class="css-o5crzx"
                                                style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;"><span
                                                class="css-11rc5ya"></span><span class="css-1a4a92y">인기순</span><span
                                                class="css-1gqu4n6"></span><span class="css-ujih8e"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                class="css-1oe6l0y"><path
                                                d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                class="css-0"></path></svg></span></button>
                                    </div>
                                </div>
                                <div class="css-iiuncx"></div>
                                <div class="css-1gz0uo4"></div>
                            </div>
                            <div class="css-yoxaiy">
                                <button class="css-o5crzx"
                                        style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;"><span
                                        class="css-11rc5ya"></span><span class="css-1a4a92y">전체</span><span
                                        class="css-1gqu4n6"></span><span class="css-ujih8e"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-1oe6l0y"><path
                                        d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                        class="css-0"></path></svg></span></button>
                                <div class="css-1dcygz9">
                                    <div class="css-17f4zqp">
                                        <div class="css-1upuyz0">
                                            <button class="css-o5crzx"
                                                    style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;"><span
                                                    class="css-11rc5ya"></span><span
                                                    class="css-1a4a92y">영상 언어</span><span
                                                    class="css-1gqu4n6"></span><span class="css-ujih8e"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    class="css-1oe6l0y"><path
                                                    d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                    class="css-0"></path></svg></span></button>
                                        </div>
                                        <div class="css-1meit79">
                                            <button class="css-ynj3fh">
                                                <div class="css-1p1m4ay"><span class="css-16acpt">영상 언어</span><span
                                                        class="css-1bep15o"></span><span class="css-1ujtdkg"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        class="css-1oe6l0y"><path
                                                        d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                        class="css-0"></path></svg></span></div>
                                            </button>
                                        </div>
                                    </div>
                                    <span class="css-yemm12"></span>
                                    <div class="css-17f4zqp">
                                        <div class="css-1meit79">
                                            <button class="css-ynj3fh">
                                                <div class="css-1p1m4ay">
                                                    <span class="css-16acpt">인기순</span>
                                                    <span class="css-1bep15o"></span>
                                                    <span class="css-1ujtdkg">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-1oe6l0y">
                                                            <path d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z" class="css-0"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="css-1upuyz0">
                                            <button class="css-o5crzx" style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;">
                                                <span class="css-11rc5ya"></span>
                                                <span class="css-1a4a92y">인기순</span>
                                                <span class="css-1gqu4n6"></span>
                                                <span class="css-ujih8e">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-1oe6l0y">
                                                        <path d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z" class="css-0"></path>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="css-1b5ucmn">
                                <div class="css-17f4zqp">
                                    <div class="css-1upuyz0">
                                        <button class="css-o5crzx"
                                                style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;"><span
                                                class="css-11rc5ya"></span><span class="css-1a4a92y">영상 언어</span><span
                                                class="css-1gqu4n6"></span><span class="css-ujih8e"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                class="css-1oe6l0y"><path
                                                d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                class="css-0"></path></svg></span></button>
                                    </div>
                                    <div class="css-1meit79">
                                        <button class="css-ynj3fh">
                                            <div class="css-1p1m4ay"><span class="css-16acpt">영상 언어</span><span
                                                    class="css-1bep15o"></span><span class="css-1ujtdkg"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    class="css-1oe6l0y"><path
                                                    d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                    class="css-0"></path></svg></span></div>
                                        </button>
                                    </div>
                                </div>
                                <span class="css-yemm12"></span>
                                <div class="css-17f4zqp">
                                    <div class="css-1meit79">
                                        <button class="css-ynj3fh">
                                            <div class="css-1p1m4ay"><span class="css-16acpt">인기순</span><span
                                                    class="css-1bep15o"></span><span class="css-1ujtdkg"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    class="css-1oe6l0y"><path
                                                    d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                    class="css-0"></path></svg></span></div>
                                        </button>
                                    </div>
                                    <div class="css-1upuyz0">
                                        <button class="css-o5crzx"
                                                style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;"><span
                                                class="css-11rc5ya"></span><span class="css-1a4a92y">인기순</span><span
                                                class="css-1gqu4n6"></span><span class="css-ujih8e"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                class="css-1oe6l0y"><path
                                                d="m7.05 9.4 4.75 7c.1.15.3.15.4 0l4.75-7c.1-.15 0-.4-.2-.4h-9.5c-.2 0-.3.25-.2.4Z"
                                                class="css-0"></path></svg></span></button>
                                    </div>
                                </div>
                            </div>
                            <ul class="css-73s7lu">
                                <th:block th:each="position : ${positions}">
                                    <li class="css-7i8iq position-wrap" th:attr="data-position=${position.midCategoryId}">
                                        <div class="css-1d944kd">
                                            <div tabindex="0" class="css-1qc8ju8">
                                                <a draggable="false" href="/ko/products/5c5d780974eabcfdafd39897">
                                                    <div class="css-8atqhb">
                                                        <div class="css-mgewzr">
                                                            <div class="css-1ct1iq3">
                                                                <div class="css-abev78">
                                                                    <div class="css-60ifsp" style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;">
                                                                        <picture data-testid="image" class="css-eti150">
                                                                            <source type="image/webp"
                                                                                    srcset="https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/640xauto.webp 640w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/750xauto.webp 750w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/828xauto.webp 828w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/1080xauto.webp 1080w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/1200xauto.webp 1200w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/1920xauto.webp 1920w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/2048xauto.webp 2048w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/3840xauto.webp 3840w"
                                                                                    sizes="(max-width: 640px) 160px,(max-width: 1024px) 200px,250px">
                                                                            <img class="css-1u3hmek" draggable="false" alt=""
                                                                                 srcset="https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/640xauto 640w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/750xauto 750w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/828xauto 828w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/1080xauto 1080w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/1200xauto 1200w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/1920xauto 1920w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/2048xauto 2048w,https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26/3840xauto 3840w"
                                                                                 src="https://cdn.class101.net/images/110df2e9-4513-4d54-982c-1e795b084e26"
                                                                                 sizes="(max-width: 640px) 160px,(max-width: 1024px) 200px,250px"
                                                                                 loading="eager">
                                                                        </picture>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="css-1h9gj2l">
                                                        <h2 data-testid="title" class="css-es3o19" th:text="${position.positionName}">
                                                            네이버 개발자 뮤와 함께하는 내인생 첫번째 앱 만들기
                                                        </h2>
                                                        <span class="css-1k0q1kx"></span>

                                                        <h2 data-testid="body" class="css-o90gdq"th:text="${position.midCategoryName}+' * '+${position.companyName}">프로그래밍&nbsp;&nbsp;|&nbsp;&nbsp;뮤</h2>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="css-60ifsp"
                                                 style="color: rgb(243, 243, 243); --system-on-color: #f3f3f3;">
                                                <div class="css-j50c81">
                                                    <button type="button" data-testid="icon-button" class="css-1dcq9or"
                                                            style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                        <svg viewBox="0 0 24 24" data-testid="heart-thin"
                                                             class="css-1devemn">
                                                            <path d="M20.75 4.8C19.55 3.6 18 3 16.45 3c-1.55 0-3.1.6-4.3 1.8-.05.05-.1.15-.15.2a.69.69 0 0 1-.15-.2C10.65 3.6 9.1 3 7.55 3c-1.55 0-3.1.6-4.3 1.8-2.35 2.4-2.35 6.35 0 8.75 2.35 2.4 8.55 8.35 8.55 8.35.05.1.15.1.2.1.05 0 .15 0 .15-.05 0 0 6.2-5.95 8.55-8.35 2.35-2.4 2.4-6.35.05-8.8ZM12 7.35c.35 0 .45-.4.75-.8 1.6-1.85 4.25-2.4 6.25-.9 1.3 1 1.95 2.75 1.65 4.35-.3 1.7-1.75 2.9-3 4.2-.65.65-5.65 5.4-5.65 5.4s-5-4.75-5.65-5.4c-1.25-1.25-2.7-2.5-3-4.2-.3-1.6.35-3.4 1.65-4.35 2-1.5 4.65-1 6.2.9.35.4.45.8.8.8Z"
                                                                  class="css-17f4zqp"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </th:block>

                            </ul>
                            <div class="css-1pt88zm"></div>
                            <div class="css-u4797e"></div>
                        </div>
                    </div>
                </div>
                <div class="css-u4797e"></div>
            </div>
            <div class="css-10c2f7i"></div>
        </div>
    </main>
    <!--    하단바 -->
    <div id="portal-root" class="css-37paae">
        <div class="css-1y9khfs" style="position: fixed;">
            <div class="css-1woanks">
                <div data-testid="content-area" class="css-5dkw6v">
                    <div class="css-1nn6t1v">
                        <div class="css-tnftlu">
                            <div class="css-exlkmr">
                                <div class="css-g9vuog"><p class="css-1ekacgu">보고 싶은 빈자리 찾아보세요</p><span
                                        class="css-1irypia"></span>
                                    <p class="css-1nyenq2"><a href="/ko/intro"><u>자리 더 알아보기</u></a></p></div>
                            </div>
                            <span class="css-1ozz338"></span>
                            <div class="css-1ac1w2">
                                <button type="button" data-testid="contained-button" class="css-1es8bh8"
                                        style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                    <span class="css-a2v7f3"
                                          style="opacity: 0; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);"></span><span
                                        class="css-tp7c7l"><span data-testid="button-text"
                                                                 class="css-up21q0">바로 구경하기</span></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="portal"></div>
<div id="global-portal-area"></div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    const categoryButton = $(".categoryButton");
    const background = $("#categoryBackground");
    const categoryPopUp = $("#categoryPopUp");
    const closeButton = $("#popUpCloseButton");

    const searchButton = $("#searchButton");
    const searchPopUp = $("#searchPopUp");

    const bookmarkButton = $("#bookmarkButton");
    const editContainer = $("#editContainer");
    const bookmarkContainer = $("#bookmarkContainer");


    categoryButton.click(function(){
        if (categoryPopUp.css("display") == "none") {
            categoryPopUp.css("display", "flex");
            background.css("display", "flex");
        }else{
            categoryPopUp.css("display", "none");
            background.css("display", "none");
        }

    });
    closeButton.click(function(){
        categoryPopUp.css("display", "none");
        background.css("display", "none");
    });
    searchButton.click(function(){
        searchPopUp.css("display", "flex");
        background.css("display", "flex");
    });
    background.click(function(){
        categoryPopUp.css("display", "none");
        background.css("display", "none");
        searchPopUp.css("display", "none");
    });

    function bookmarkOn() {
        bookmarkContainer.css("display", "flex");
        editContainer.css("display", "none");
    }
    function editOn(){
        bookmarkContainer.css("display", "none");
        editContainer.css("display", "flex");
    }


</script>
<script>
    const categoryOption = $(".category-option");
    let categoryId
    $.each(categoryOption, function (i,d) {
        let data = $(d);
        data.click(function(){
            categoryId = data.data('midcategory')+"";
            categoryOption.find(".css-14bzam7").removeClass("css-14bzam7");
            data.find(".css-19vi3od").toggleClass("css-14bzam7");

            if (i == 0){
                $(".position-wrap").css("display","flex");
            }else{
                $(".position-wrap").css("display","none");
                $("[data-position="+categoryId+"]").css("display","flex");
            }

        });
    });
</script>
<script>
    function categorySelected(categId){
        let $categId = $(categId).data("categoryid")
        window.location = "/positionList/positions?cid=" + $categId;
    }
</script>
</html>