<!DOCTYPE html>
<html lang="ko">
<head translate="no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaymentHeader</title>
    <link rel="stylesheet" href="/css/payment.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div id="__next">
    <main>
        <div class="css-mw5pt9">
            <div class="css-lrk3v9">
                <div class="css-zsoya5"></div>
            </div>
            <div class="css-1j2he8a"></div>
            <div class="css-1jl7ivf"></div>
            <div class="css-14vima6"></div>
            <div class="css-1cbthfr"></div>
            <div class="css-1tiw5e2">
                <div class="css-blveub">
                    <div class="css-1it9y7q">
                        <header class="css-9ap60a">
                            <div class="css-1h1zkn7">
                                <div class="css-1t0urrj">
                                    <div class="css-1f8m7mx">
                                            <span class="css-qlxdgd">
                                                <img class="css-hnwxmn" src="/images/logo_garo.png" alt="replaceLogo">
                                            </span>
                                        <div class="css-15q7g99"></div>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
                <header class="css-1rg31ja">
                    <div class="css-16hwzgi">
                        <div class="css-1svc1pb">
                            <button type="button" data-testid="pressable" class="css-1hvtp3b" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                <svg viewBox="0 0 24 24" data-testid="chevronleft-fill" class="css-ymr6q4">
                                    <path d="M15.1 2.55 16.5 4c.1.1.1.25 0 .35L8.85 12l7.65 7.65c.1.1.1.25 0 .35l-1.4 1.4c-.1.1-.25.1-.35 0L5.5 12.15c-.1-.1-.1-.25 0-.35l9.25-9.25c.1-.05.25-.05.35 0Z" class="css-17f4zqp"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="css-1phucrr"></div>
                    </div>
                </header>
                <!-- header 끝 -->
                <div class="css-dyptwd">
                    <div class="css-1vknbmh">
                        <header class="css-751n0r">
                            <div class="css-1f8m7mx">
                                <h3 class="css-150gfsc">
                                    <h3 class="css-sosrl8">
                                        카드 정보를
                                        <br>
                                        입력해주세요
                                    </h3>
                                </h3>
                            </div>
                        </header>
                        <div class="css-1labwoc"></div>
                        <form novalidate style="width: auto; height: auto;">
                            <div class="css-zsoya5">
                                <div class="css-15zhte1">
                                    <div data-testid="text-field" class="css-1d944kd">
                                        <div class="css-ajvi5m">
                                            <div class="css-f0f5li"></div>
                                            <div class="css-1l30t8">
                                                <div tabindex="-1" class="css-1hc3cmd">
                                                        <span class="css-du0zpy" style="top: 15px; font-size: 0.875rem; line-height: 1.125rem; transition-property: top, fontSize, lineHeight; transition-duration: 100ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                                            카드 번호
                                                        </span>
                                                </div>
                                                <div class="css-1qayebk">
                                                    <span data-testid="body" class="css-3lg7k9"></span>
                                                    <input type="text" inputmode="numeric" autocapitalize="none" autocomplete="off" placeholder name="cardNumber" maxlength="19" class="css-1y9i12j" value>
                                                    <span data-testid="body" class="css-1wfdhd6"></span>
                                                </div>
                                            </div>
                                            <div class="css-f0f5li">
                                                <div class="css-12fz3yr">
                                                    <div class="css-10c2f7i">
                                                        <!-- 카드 번호에 클릭을 해야 생기는 클래스 -->
                                                        <span class="css-c30tin">
                                                                <svg viewBox="0 0 480 308">
                                                                    <rect width="480" height="307.95" rx="23.9961" fill="#333333"></rect>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M301.542 249.947C353.944 249.947 396.425 206.974 396.425 153.963C396.425 100.952 353.944 57.9785 301.542 57.9785C278.057 57.9785 256.565 66.6098 239.997 80.9076C223.428 66.6098 201.936 57.9786 178.451 57.9786C126.049 57.9786 83.5684 100.952 83.5684 153.963C83.5684 206.974 126.049 249.947 178.451 249.947C201.936 249.947 223.428 241.316 239.997 227.018C256.565 241.316 278.057 249.947 301.542 249.947Z" class="css-1sijg49"></path>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M239.998 227.018C260.399 209.413 273.336 183.216 273.336 153.963C273.336 124.71 260.399 98.5129 239.998 80.9076C256.567 66.6098 278.059 57.9785 301.543 57.9785C353.946 57.9785 396.426 100.952 396.426 153.963C396.426 206.974 353.946 249.947 301.543 249.947C278.059 249.947 256.567 241.316 239.998 227.018Z" class="css-1scgdcs"></path>
                                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M239.998 227.019C260.399 209.413 273.335 183.217 273.335 153.963C273.335 124.71 260.399 98.5135 239.998 80.9082C219.596 98.5135 206.66 124.71 206.66 153.963C206.66 183.217 219.596 209.413 239.998 227.019Z" class="css-mq7kcy"></path>
                                                                </svg>
                                                            </span>
                                                    </div>
                                                    <span class="css-la5ys6"></span>
                                                    <svg viewBox="0 0 24 24" data-testid="lock-thin" class="css-1lnpec3">
                                                        <path d="M12.9 17.55c0 .1-.1.2-.2.2h-1.4c-.1 0-.2-.1-.2-.2v-3.6c0-.1.1-.2.2-.2h1.4c.1 0 .2.1.2.2v3.6Z" class="css-17f4zqp"></path>
                                                        <path d="M17.6 9V6.8c0-2.95-2.15-5.5-5.1-5.75-3.35-.3-6.15 2.3-6.15 5.6V9h-3.1C3.1 9 3 9.1 3 9.25v13c0 .15.1.25.25.25h17.5c.15 0 .25-.1.25-.25v-13c0-.15-.1-.25-.25-.25H17.6ZM8.1 6.6c0-2.15 1.75-3.9 3.9-3.9s3.9 1.75 3.9 3.9V9H8.1V6.6Zm11.15 14.15H4.75v-10h14.5v10Z"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 카드 번호 에러 메세지 -->
                                        <span class="css-tkvxhg"></span>
                                        <span data-testid="body" class="css-8c834m">최소 14자 이상 입력해 주세요.</span>
                                        <!-- 카드 번호 끝 -->
                                    </div>
                                    <div class="css-1u2hgfc"></div>
                                    <div data-testid="text-field" class="css-1d944kd">
                                        <div class="css-18nkakz">
                                            <div class="css-f0f5li"></div>
                                            <div class="css-1l30t8">
                                                <div tabindex="-1" class="css-1hc3cmd">
                                                    <!-- 유효기간에 클릭을 하면 변경되는 요소들 -->
                                                    <span class="css-n3wr5d" style="top: 15px; font-size: 0.875rem; line-height: 1.125rem; transition-property: top, fontSize, lineHeight; transition-duration: 100ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">유효기간</span>
                                                </div>
                                                <div class="css-1qayebk">
                                                    <span data-testid="body" class="css-3lg7k9">
                                                    </span>
                                                    <input type="text" inputmode="numeric" autocapitalize="none" autocomplete="cc-exp" placeholder maxlength="5" name="expiringDate" class="css-tbm6v1" value>
                                                    <span data-testid="body" class="css-z08qwz">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="css-f0f5li"></div>
                                        </div>
                                    </div>
                                    <!-- 유효기간 끝 -->
                                    <div class="css-1u2hgfc"></div>
                                    <div data-testid="text-field" class="css-1d944kd">
                                        <div class="css-18nkakz">
                                            <div class="css-f0f5li"></div>
                                            <div class="css-1l30t8">
                                                <div tabindex="-1" class="css-1hc3cmd">
                                                    <span class="css-n3wr5d" style="top: 15px; font-size: 0.875rem; line-height: 1.125rem; transition-property: top, fontSize, lineHeight; transition-duration: 100ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">생년월일 또는 사업자 번호</span>
                                                </div>
                                                <div class="css-1qayebk">
                                                    <span data-testid="body" class="css-3lg7k9">
                                                    </span>
                                                    <input type="text" inputmode="numeric" autocapitalize="none" autocomplete="off" placeholder maxlength="10" name="birth" class="css-tbm6v1" value>
                                                    <span data-testid="body" class="css-z08qwz">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="css-f0f5li"></div>
                                        </div>
                                        <!-- 생년월일 6자리 또는 사업자번호 에러 메세지 -->
                                        <span class="css-tkvxhg"></span>
                                        <span data-testid="body" class="css-8c834m">생년월일 6자리 또는 사업자번호 10자리를 입력해 주세요.</span>
                                    </div>
                                </div>
                                <div class="css-1pkue4f"></div>
                                <div class="css-15zhte1">
                                    <button type="button" class="css-181thk6" style="color: rgb(116, 116, 116); --system-on-color: #747474;">
                                        <div class="css-3kqv01">
                                            <div class="css-1bep15o"></div>
                                            <span class="css-1f75ggl">등록하기</span>
                                            <div class="css-1bep15o"></div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--footer 시작  -->
                <div data-testid="paper" class="css-cn56hh">
                    <div class="css-4dhpus">
                        <div class="css-1t0urrj">
                            <div class="css-1virz4l"></div>
                            <footer class="css-18yb3mg">
                                <div class="css-1ljnv6q">
                                    <div class="css-1d944kd">
                                        <span class="css-1bnjzso">고객센터</span>
                                        <span class="css-1irypia"></span>
                                        <span class="css-1z0gkcw">오전 10시 ~ 오후 6시 (주말, 공휴일 제외)</span>
                                    </div>
                                    <span class="css-1irypia"></span>
                                    <div class="css-slclp7">
                                        <button type="button" class="css-s9sg2d" style="opacity: 1; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);">
                                            <span class="css-jhrm45" style="opacity: 0; transition-property: opacity; transition-duration: 200ms; transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);"></span>
                                            <span class="css-1tjuz3g">
                                                <span class="css-6zkvox">
                                                    문의하기
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <span class="css-1szuq4w"></span>
                                <div class="css-7qlpjs">
                                    <div class="css-ewv9rt">
                                        <div class="css-1jenhu5">
                                            <div class="css-9vplhj">
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://notice.class101.net/">
                                                        <div class="css-buugdi">
                                                            <span class="css-2qj4cb">
                                                                공지사항
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a href="https://class101.net/ko/topic">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            전체 카테고리
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://intercom.help/class101faq/ko">
                                                        <div class="css-buugdi">
                                                            <span class="css-2qj4cb">
                                                                자주 묻는 질문
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://intercom.help/class101faq/ko/articles/6174869-%EC%9D%B4%EC%9A%A9-%EA%B0%80%EB%8A%A5%ED%95%9C-%EA%B8%B0%EA%B8%B0%EC%99%80-%EB%B8%8C%EB%9D%BC%EC%9A%B0%EC%A0%80%EA%B0%80-%EA%B6%81%EA%B8%88%ED%95%B4%EC%9A%94">
                                                        <div class="css-buugdi">
                                                            <span class="css-2qj4cb">
                                                                지원 기기 및 이용환경
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="css-1qzk3nh"></span>
                                        <div class="css-1jenhu5">
                                            <div class="css-9vplhj">
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://creator.class101.net/">
                                                        <div class="css-buugdi">
                                                            <span class="css-2qj4cb">
                                                                크리에이터 센터
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://copyright.class101.net/">
                                                        <div class="css-buugdi">
                                                            <span class="css-2qj4cb">
                                                                지식재산권 침해 신고 센터
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://class101.net/ko/pages/b2g_collection">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            국비 지원
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://class101.net/business/landing">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            기업고객 문의
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://class101.net/classic?noRedirect=true">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            클래스 개별 구매
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="css-1qzk3nh"></span>
                                        <div class="css-1jenhu5">
                                            <div class="css-9vplhj">
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://class101.net/ko/docs/terms?type=Privacy">
                                                        <div class="css-buugdi">
                                                                        <span class="css-ko6k05">
                                                                            개인정보 처리방침
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://class101.net/ko/docs/terms?type=Use">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            이용약관
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://class101.net/ko/docs/terms?type=GiftCard">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            기프트카드 및 캐시 이용약관
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://class101.net/ko/docs/terms?type=Refund">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            환불 정책
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="css-1qzk3nh"></span>
                                        <div class="css-1jenhu5">
                                            <div class="css-9vplhj">
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4578100277">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            사업자 정보 확인
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a href="mailto:with@101.inc" target="_blank">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            제휴 및 대외협력
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="css-r9y8tl">
                                                    <a target="_blank" href="https://jobs.class101.net/">
                                                        <div class="css-buugdi">
                                                                        <span class="css-2qj4cb">
                                                                            채용
                                                                        </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                            <div class="css-18mfhhj"></div>
                            <div class="css-slclp7">
                                <a href="https://apps.apple.com/app/class101-%ED%81%B4%EB%9E%98%EC%8A%A4101/id1320607634" class="css-17f4zqp">
                                    <picture class="css-1m637ld">
                                        <source type="image/webp" srcset="https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/640xauto.webp 640w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/750xauto.webp 750w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/828xauto.webp 828w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/1080xauto.webp 1080w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/1200xauto.webp 1200w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/1920xauto.webp 1920w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/2048xauto.webp 2048w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/3840xauto.webp 3840w">
                                        <img class="css-qpk5qa"  draggable="false" srcset="https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/640xauto 640w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/750xauto 750w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/828xauto 828w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/1080xauto 1080w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/1200xauto 1200w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/1920xauto 1920w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/2048xauto 2048w,https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1/3840xauto 3840w" src="https://cdn.class101.net/images/b74a633a-dcb6-4421-8c1b-e8d83bccdee1" loading="lazy">
                                    </picture>
                                </a>
                                <span class="css-la5ys6"></span>
                                <a href="https://play.google.com/store/apps/details?id=net.pedaling.class101" class="css-17f4zqp">
                                    <picture class="css-1m637ld">
                                        <source type="image/webp" srcset="https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/640xauto.webp 640w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/750xauto.webp 750w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/828xauto.webp 828w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/1080xauto.webp 1080w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/1200xauto.webp 1200w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/1920xauto.webp 1920w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/2048xauto.webp 2048w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/3840xauto.webp 3840w">
                                        <img class="css-qpk5qa"  draggable="false" srcset="https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/640xauto 640w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/750xauto 750w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/828xauto 828w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/1080xauto 1080w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/1200xauto 1200w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/1920xauto 1920w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/2048xauto 2048w,https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826/3840xauto 3840w" src="https://cdn.class101.net/images/781f50b6-be99-474b-9347-3ed7965ea826" loading="lazy">
                                    </picture>
                                </a>
                            </div>
                            <div class="css-18mfhhj"></div>
                            <div class="css-j56oz9">
                                <div class="css-10c2f7i">
                                    <div class="css-9yy43r">
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            주식회사 클래스101
                                                        </span>
                                        </div>
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            대표 공대선
                                                        </span>
                                        </div>
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            서울특별시 강남구 테헤란로 302, 1-11층, 13층(역삼동, 위워크타워)
                                                        </span>
                                        </div>
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            대표전화 : 1800-2109
                                                        </span>
                                        </div>
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            이메일 : ask@101.inc
                                                        </span>
                                        </div>
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            사업자등록번호 : 457-81-00277
                                                        </span>
                                        </div>
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            통신판매업신고 : 2022-서울강남-02525
                                                        </span>
                                        </div>
                                        <div class="css-10c2f7i">
                                                        <span class="css-3lvbnc">
                                                            클라우드 호스팅 : Amazon Web Services Korea LLC
                                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="css-17h65v6"></div>
                                <span class="css-3lvbnc">클래스101은 통신판매중개자로서 중개하는 거래에 대하여 책임을 부담하지 않습니다.</span>
                            </div>
                            <div class="css-ic8ybk"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- footer 끝 -->
        </div>
    </main>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/payment.js"></script>

</html>