<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.replace.mapper.ApplyMapper">
    <select id="selectAll" resultType="applyDTO">
        SELECT A.ID, A.POSITION_ID ,C.MEMBER_ID,A.APPLY_STATUS,P.POSITION_NAME ,P.POSITION_INFO ,P.POSITION_DUE_DATE ,P.POSITION_OPEN_DATE ,P.POSITION_STATUS,C.COMPANY_NAME,MC.MID_CATEGORY_NAME
        FROM TBL_APPLY A JOIN TBL_POSITION P
        ON A.POSITION_ID = P.ID
        JOIN TBL_COMPANY C
        ON P.COMPANY_ID = C.ID
        JOIN TBL_MID_CATEGORY MC
        ON P.MID_CATEGORY_ID = MC.ID
        WHERE A.MEMBER_ID = #{id}
        ORDER BY A.POSITION_ID
    </select>
    <delete id="deleteByPositionId">
        DELETE FROM TBL_APPLY
        WHERE POSITION_ID = #{id}
    </delete>
    <delete id="deleteByPositionAndMemberId">
        DELETE FROM TBL_APPLY
        WHERE POSITION_ID = #{positionId} AND MEMBER_ID = #{memberId}
    </delete>
    <insert id="insert">
        INSERT INTO TBL_APPLY(ID, MEMBER_ID, POSITION_ID, APPLY_STATUS)
        VALUES(SEQ_APPLY.NEXTVAL, #{memberId}, #{positionId}, #{applyStatus})
    </insert>
    <select id="check" resultType="_int">
        SELECT COUNT(ID)
        FROM TBL_APPLY
        WHERE MEMBER_ID = #{memberId} AND POSITION_ID = #{positionId}
    </select>
    <select id="checkByMemberId" resultType="_int">
        SELECT COUNT(ID)
        FROM TBL_APPLY
        WHERE MEMBER_ID = #{id}
    </select>
</mapper>

