<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.replace.mapper.CompanyMapper">
    <select id="select" resultType="companyVO">
        SELECT ID, COMPANY_NAME, COMPANY_VARIFICATION_CODE, MEMBER_ID
        FROM TBL_COMPANY
        WHERE MEMBER_ID = #{id}
    </select>
    <update id="update">
        UPDATE TBL_COMPANY
        SET COMPANY_NAME = #{companyName}, COMPANY_VARIFICATION_CODE = #{companyVarificationCode}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <insert id="insert">
        INSERT INTO TBL_COMPANY(ID,COMPANY_NAME,COMPANY_VARIFICATION_CODE, MEMBER_ID)
        VALUES(SEQ_COMPANY.NEXTVAL, #{companyName}, #{companyVarificationCode}, #{memberId})
    </insert>
</mapper>

